.sizing {
  text-align: center;
  padding-right: 60px;
}
h3 {
  display: inline;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
}
h4 {
  display: inline-block;
}
