body,
html {
  height: 100%;
  background-color: black;
}

/* The hero image */
.hero-image {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://vastphotos.com/files/uploads/photos/10588/chicago-skyline-photo-l.jpg"); */
    background-image: url('https://source.unsplash.com/random/?city,night');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 17px;
  color: white;
}
.text {
  /* margin-top: ; */
}
.bottom-color {
  background-color: #94b8f2;
  margin-top: 0;
  /* height: 40%; */
  height: 4%;
}
.footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}
